DB_TIDB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
DB_TIDB_DB=username
DB_TIDB_USER=username_db
DB_TIDB_PASSWORD=xxxxxxxxxxxxx
DB_TIDB_PORT=9999

CLOUDINARY_CLOUD_NAME=void
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret



